In [1]:
my_dict = {"key1":"value1","key2":"value2","key3":"value3"}

In [2]:
my_dict["key3"]

'value3'

In [3]:
my_dict.get("key3")

'value3'

In [4]:
d = {"a":"letter a",
    "name":"Claire",
    "age":35,
    "schools":{"Solomon":"kibuli","Shady":"Ndejje","Michelle":"Nabbingo"},
    "numbers":[1,2,3,4,5,6,7],
    "letters":["a","b","c"]
    }

In [6]:
# which school does Solomon attend?

d["schools"]["Solomon"]

'kibuli'

In [7]:
# which school does Michelle attend?

d["schools"]["michelle"]

KeyError: 'michelle'

You notice a KeyError instead of writing "michelle" change it to "Michelle"

In [8]:
d["schools"]["Michelle"]

'Nabbingo'

In [9]:
d = {"a":"letter a",
    "name":"Claire",
    "age":35,
    "schools":{"Solomon":"kibuli","Shady":"Ndejje","Michelle":"Nabbingo"},
    "numbers":[1,2,3,4,5,6,7],
    "letters":["a","b","c"]
    }

In [10]:
# Add an item

d["sets"] = 30

In [11]:
d

{'a': 'letter a',
 'name': 'Claire',
 'age': 35,
 'schools': {'Solomon': 'kibuli', 'Shady': 'Ndejje', 'Michelle': 'Nabbingo'},
 'numbers': [1, 2, 3, 4, 5, 6, 7],
 'letters': ['a', 'b', 'c'],
 'sets': 30}

In [12]:
d["sets"] = "replaced"
d

{'a': 'letter a',
 'name': 'Claire',
 'age': 35,
 'schools': {'Solomon': 'kibuli', 'Shady': 'Ndejje', 'Michelle': 'Nabbingo'},
 'numbers': [1, 2, 3, 4, 5, 6, 7],
 'letters': ['a', 'b', 'c'],
 'sets': 'replaced'}

In [13]:
# deleting items 

del d["letters"]
print(d)

{'a': 'letter a', 'name': 'Claire', 'age': 35, 'schools': {'Solomon': 'kibuli', 'Shady': 'Ndejje', 'Michelle': 'Nabbingo'}, 'numbers': [1, 2, 3, 4, 5, 6, 7], 'sets': 'replaced'}

In [15]:
my_dict = {"key1":"value1","key2":"value2","key3":"value3"}

# method called .values()

my_dict.values()

dict_values(['value1', 'value2', 'value3'])

In [16]:
#method keys()

my_dict.keys()

dict_keys(['key1', 'key2', 'key3'])

In [17]:
#method items()

my_dict.items()

dict_items([('key1', 'value1'), ('key2', 'value2'), ('key3', 'value3')])

Exercise:

Use Anaconda Jupyter Notebook:

1. Give me your understanding of lists and dictionaries
2. Provide the similarities between lists and dictionaries
3. Give the differences between lists and dictionaries  
 
 NB
 Please provide an explaination with examples(lines of code)

In [2]:
# Qn 1. Give me your understanding of lists and dictionaries.
# Lists are ordered collection of data objects. They are defined in Python by enclosing a sequence of objects in square brackets [].
ex = ['allan','stella','esther']
print(ex)

['allan', 'stella', 'esther']

In [8]:
# Some of the characteristics of lists are: 
# mutable(list elements can be changed at anytime in the program. ), 
# ordered(the order in which one specifies list elements when being defined is maintained throughout a list's lifetime )
# list elements are accessed using index where zero'0' is the index of the first element.
# lists can be nested meaning a given list can have another list within.
# lists can contain elements of the same type or varying types of elements all in one list.
a = ex[0]
b = ['allan',0.123,'stella','esther',456]
c = ['landrover','rollsroyce',['allan','stella','esther'],'toyota']
d = c[2][2]
print(a)
print(b)
print(c)
print(d)

allan
['allan', 0.123, 'stella', 'esther', 456]
['landrover', 'rollsroyce', ['allan', 'stella', 'esther'], 'toyota']
esther

In [11]:
c[-1] = 'REPLACED'
print(c)

['landrover', 'rollsroyce', ['allan', 'stella', 'esther'], 'REPLACED']

In [22]:
# Dictionaries are collections or key-value pairs where each pair maps the key to its associated value
# One can define a dictionary by enclosing a list of key-value pairs in curly braces {}. This is as shown below:
di = {'name':'allan','school':'UCU','year':'3'}
print(di['name'])

allan

In [27]:
# Some of the characteristics of dictionaries are:
# Dictionaries can be ordered(python V 3.7) and unordered(python V 3.6 and earlier) in regard to the version of python one is using
# Dictionaries are case sensitive. Same key names with different case letters are treated as seperate keys.
# Dictionaries are changeable where one can add, remove or replace dictionary elements after it has been created.
# Dictionaries do not allow duplicates. Duplicate values will overwrite existing ones.
print(di)

{'name': 'allan', 'school': 'UCU', 'year': '3'}

In [30]:
di = {'name':'allan','school':'UCU','year':'3','school':'MUK'}
print(di)

{'name': 'allan', 'school': 'MUK', 'year': '3'}

In [32]:
print(di['school'])

MUK

In [34]:
print(di['School'])

KeyError: 'School'

In [42]:
# Qn 2. Provide the similarities between lists and dictionaries
# Both can contain element values of the same type or varying types i.e. elements can be boleans only, strings only or boleans and strings together 
# Both lists and dictionaries are mutable
exmp1 = [0.123,False,'gladys',365]
exmp2 = {'float':3.312,'bolean':True,'strng':'allan','integer':765}
print(exmp1)
print(exmp2)

[0.123, False, 'gladys', 365]
{'float': 3.312, 'bolean': True, 'strng': 'allan', 'integer': 765}

In [51]:
# Qn 3. Give the differences between lists and dictionaries
# List is a sequential data type consisting of index values while a dictionary is a mapping datatype consisting of key-value pairs.
# Lists maintain their ordering unless re-ordered (for example, by sorting the list) while a dictionary's Ordering is not guaranteed
# List elements are accessed using numerical indicies while dictionary elements are accessed using key values
# Lists are defined by enclosing a sequence of objects in square brackets [] while dictionaries are defined by enclosing a list of key-value pairs in curly braces {}
# Lists can be nested within other lists while a dictionary can not be nested within another dictionary
myList = [20,31,52,33,64]
myDict = {'boy1':'allan','boy2':'peter','girl1':'gladys','float':0.123,'girl2':'stella'}
print(myList)
print(myDict)

[20, 31, 52, 33, 64]
{'boy1': 'allan', 'boy2': 'peter', 'girl1': 'gladys', 'float': 0.123, 'girl2': 'stella'}

In [52]:
print(myList[0]) #index in a list starts at zero'0'. One can access the first element using 0.
print(myList[1:3])

20
[31, 52]

In [54]:
#girl1 is the key for the value gladys in this dictionary and this is how it can be accessed
print(myDict['girl1'])

gladys

In [56]:
myDict1 = {'boy1':'allan','boy2':'peter','girl1':'gladys',{'try':'one','trial':'two'},'float':0.123,'girl2':'stella'}

SyntaxError: invalid syntax (Temp/ipykernel_6608/1332622392.py, line 1)